<!-- <p>navbar works!</p>
<app-home></app-home>
<app-about></app-about>
<app-services></app-services>
<app-signup></app-signup>
<app-sign-in></app-sign-in> -->

<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">About
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">Services
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item text-end">
                    <a class="nav-link active" href="#" aria-current="page">Signup
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#" aria-current="page">SignIn
                    </a>
                </li>



            </ul>

        </div>
    </div>
</nav>